OPENSKY_CLIENT_ID=your-client-id
OPENSKY_CLIENT_SECRET=your-client-secret
WINDY_WEBCAMS_KEY=your-windy-webcams-key
WINDY_FORECAST_KEY=your-windy-forecast-key
WINDY_MAP_KEY=your-windy-map-forecast-key
WINDY_PLUGIN_KEY=your-windy-plugin-key
AVSTACK_API_KEY=your-aviationstack-key
PORT=3001
OWM_API_KEY=your-openwm-key
AIS_API_KEY=your-ais-key
AIP_API_KEY=your-aip-key